@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
  background-color: #e3e6ec;
  font-family: "Poppins", sans-serif;
  background-image: url("../images/Fondo-Login.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-box,
.box {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 550px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(82, 82, 82, 0.5);
}

.login-title,
.title {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #2e3d50;
  margin-bottom: 10px;
}

.credential-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  color: #2e3d50;
  font-weight: 500;
}

#togglePasswordBtn {
  height: 32px;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  background-color: #f6f1f1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1.5px 1px rgba(0, 0, 0, 0.1),
    1.5px 0px 1px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.2s ease;
}

#togglePasswordBtn:hover {
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2),
    inset 0px 0.5px 1px rgba(0, 0, 0, 0.2),
    inset 0.5px 0px 1px rgba(0, 0, 0, 0.2);
}

.credential-input input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline-color: #2e3d50;
  padding: 5px 10px;
}

.passwordInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#password {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.login-title h4 {
  font-weight: 600;
}

.google-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingresar-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 40px;
  transition: all 0.3s ease;
  background-color: #415774;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #567499;
}

/* Demo access section */
.demo-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0 20px;
}

.demo-access p {
  color: #2e3d50;
  font-size: 14px;
  margin-bottom: 10px;
}

.demo-btn {
  background-color: #4a7ba7;
  max-width: 220px;
}

.demo-btn:hover {
  background-color: #5a8bb7;
}

/* Signup */

.signup-box {
  width: 65%;
}
.signup-title {
  font-size: 14px;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  margin: 10px 0;
}

/* boton de google */

.login-with-google-btn {
  background-color: #415774;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
	display: flex;
	align-items: center;
}

.login-with-google-btn:hover {
  background-color: #567499;
}

.google-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

.title-web-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.title-web-app h1 {
  color: #2e3d50;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

i{
  font-size: 18pt;
  padding: 0;
}